.giftRadio{
    display: flex;
    color:#999999;
    background: #f3f3f3;
    border-radius: 20px; 
    font-size: 12px;
    padding: 4px;
    align-items: center;
    justify-content: space-between;
    width: 125px;
}
.label {
    display: flex;
    align-items: center;
    font-size: 12px;
  }