.container {
    width: 85%;
    margin-top: 10px;
    border: 2px solid #E5E5E5;
    border-radius: 10px;
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #ffffff;
    position: relative; 
}

.appExclusiveButton {
    position: absolute; 
    top: -10px; 
    left: 50%; 
    transform: translateX(-50%);
    background-color: #EB4B6E; 
    color: white;
    border: none; 
    border-radius: 20px; 
    padding: 2.5px 10px; 
    cursor: pointer; 
    font-size: 10px; 
    z-index: 1;
}
.buyInfo{
    width:40px;
}
.bonusInfo{
    width:40px;
}
.buyLabel {
    font-size: 12px;
    font-weight: 400;
}

.buyValue {
    font-size: 22px;
    font-weight: 600;
}

.bonusLabel {
    font-size: 12px;
    font-weight: 400;
    color: #7DBEB5;
    text-align: end;
}

.bonusValue {
    font-size: 22px;
    font-weight: 600;
    color: #7DBEB5;
    text-align: end;

}
